html {
  background: linear-gradient(to right, #e5bcbcf5, #e77070f5);
}

body {
  font-family: "Staatliches", cursive;
  background: transparent;
}

.textsize {
  font-size: xx-large;
  font-weight: 900;
}
